<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benny Estimates</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
<%- include('header.ejs') %> 
<%- include('slider.ejs') %>
 
<%- include('main1.ejs') %>
<%- include('main10.ejs') %>
<%- include('main4.ejs') %>
<%- include('main3.ejs') %>
<%- include('main33.ejs') %>
<%- include('main9.ejs') %>
<%- include('main6.ejs') %>
<%- include('main5.ejs') %>





<%- include('footer.ejs') %>
</body>
</html>